/* 顏色 */
.pri-color { color: $primary-color; }
.sec-color { color: $secondary-color; }
.acc-color { color: $accent-color; }
.bg-color  { color: $bg-color; }
.bg-sec-color { color: $bg-secondary-color; }