// =========================
// 顏色
// =========================
.pri-color    { color: var(--primary-color) }
.sec-color    { color: var(--secondary-color) }
.ter-color    { color: var(--tertiary-color) }
.acc-color    { color: var(--accent-color) }
.bg-color     { color: var(--bg-color) }
.bg-sec-color { color: var(--bg-secondary-color) }

:root {
  --primary-color:         #{$primary-color};
  --secondary-color:       #{$secondary-color};
  --secondary-color-a10:   color-mix(in srgb, var(--secondary-color) 10%, transparent 0%);
  --secondary-color-a20:   color-mix(in srgb, var(--secondary-color) 20%, transparent 0%);

  --tertiary-color:        #{$tertiary-color};

  --accent-color:          #{$accent-color};
  --accent-color-a10:      color-mix(in srgb, var(--accent-color) 10%, transparent 0%);

  --bg-color:              #{$bg-color};
  --bg-color-a80:          color-mix(in srgb, var(--bg-color) 80%, transparent 0%);

  --bg-secondary-color:    #{$bg-secondary-color};
  --bg-secondary-color-a80:color-mix(in srgb, var(--bg-secondary-color) 80%, transparent 0%);
}

:root.dark-mode {
  --primary-color:      #e6e6e6;
  --secondary-color:    #808080;
  --tertiary-color:     #212121;
  --accent-color:       #2b5dff;
  --bg-color:           #212121;
  --bg-secondary-color: #0c0c0c;
}
:root.light-mode {
  --primary-color:      #{$primary-color};
  --secondary-color:    #{$secondary-color};
  --tertiary-color:     #{$tertiary-color};
  --accent-color:       #{$accent-color};
  --bg-color:           #{$bg-color};
  --bg-secondary-color: #{$bg-secondary-color};
}

@media(prefers-color-scheme: dark) {
	:root {
		--primary-color:      #e6e6e6;
    --secondary-color:    #808080;
    --tertiary-color:     #212121;
    --accent-color:       #2b5dff;
    --bg-color:           #212121;
    --bg-secondary-color: #0c0c0c;
}
}

// =========================
// 字重
// =========================
.regular { font-weight: $font-weight-regular; }
.medium  { font-weight: $font-weight-medium; }
.bold    { font-weight: $font-weight-bold; }


// =========================
// 字級
// =========================
.title1 { font-size: $font-size-title1; }
.title2 { font-size: $font-size-title2; }
.title3 { 
  font-size: $font-size-title3;
  margin: 0 0 1rem; 
}
.title4 { 
  font-size: $font-size-title4; 
  margin: 1rem 0; }
.paragraph {
  font-size: $font-size-paragraph;
  margin: 0 0 0.5rem;
}
.footnote1 { font-size: $font-size-footnote1; }
.footnote2 { font-size: $font-size-footnote2; }

