/* color palettes */
$primary-color: #636363;
$secondary-color: #c2c2c2;
$tertiary-color: #fff;
$accent-color: #304fff;
$bg-color: #fff;
$bg-secondary-color: #ebebeb;

:root {
    --accent-color: #{$accent-color}; 
    --accent-color-a10: color-mix(in srgb, var(--accent-color) 10%, transparent 0%);
}

/* 字重 */
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-semlight: 400;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-heavy: 900;

/* 字級 */
$font-size-title1: 3.5rem;
$font-size-title2: 2.5rem;
$font-size-title3: 2.0rem;
$font-size-title4: 1.8rem;
$font-size-paragraph: 1.4rem;
$font-size-footnote1: 1.2rem;
$font-size-footnote2: 1rem;


