.carousel-wrapper {
    width: 100%;
    overflow: visible;
    margin: 0 auto 2rem;
}
  
.carousel-container {
    position: relative;
    overflow: hidden;
}
  
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;
    padding-bottom: 1rem;
    height: min(58rem, 100vw);
    img {
        scroll-snap-align: center;
        // flex: 0 0 80%;
        aspect-ratio: 3 / 4;
        object-fit: cover;
        border-radius: 1rem;
        object-position: center;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
}

.carousel-arrow {
    position: absolute;
    top: 0%;
    width: calc(10% - 2rem);
    height: calc(100% - 2rem);
    background: rgba($primary-color, 0);
    border: none;
    color: $bg-color;
    font-size: 4rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2;
    transition: 0.15s ease-in-out;

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    &:hover {
        transform: scale(1.4);
    }
    .arrow-line {
        position: absolute;
        top: 50%;
        left: 35%;
        width: 1.2rem;
        height: 0.2rem;
        border-radius: 0.1rem;
    }
    &.left .line1 {
    transform: translate(0, 0.36rem) rotate(45deg) ;
    }
    &.left .line2 {
    transform: translate(0, -0.36rem) rotate(-45deg);
    }
    &.right .line1 {
    transform: translate(0, 0.36rem)  rotate(-45deg);
    }
    &.right .line2 {
    transform: translate(0, -0.36rem)  rotate(45deg);
    }
}

  
.dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  
    button {
        width: 0.6rem;
        height: 0.6rem;
        margin: 0.5rem;
        border-radius: 50%;
        background: $secondary-color;
        border: none;
        cursor: pointer;

        &.active {
        background: var(--accent-color);
        }
    }
}



// 行動裝置
@media (max-width: 600px) {
    .article-layout {
        overflow: visible;
    }

    .arrow-line {
        display: none;
    }

    .carousel-wrapper {
        width: 100vw;
        margin: 0 -3.5rem;
    }

    .carousel {
        img:first-of-type {
            border-radius: 0 1rem 1rem 0;
        }
      
        img:last-of-type {
            border-radius: 1rem 0 0 1rem;
        }
      }
}
