.divider-blank {
    width: 100%;
    height: 3rem;
}

.divider-light {
    width: 100%;
    height: 0.1rem;
    background: var(--secondary-color);
}

.divider-lightning {
    &::after {
        content: "ğ“";
    }
    font-weight: $font-weight-bold;
    color: var(--accent-color);
    text-align: center;
    margin: 2rem 0;
}