//body 直接取消 overflow-x 會和 mini-header 的顯示衝突
body.disable-overflow {
  overflow-x: hidden;
}


.swiper {
  width: 27rem;
  height: 36rem;
  margin: 0 auto;
}


.swiper-slide {
  border-radius: 1rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}


.manga-info {

   h1 {
    font-size: $font-size-title4;
    text-align: center;
  }

  p {
    margin: 0.5rem 0 0;
    color: var(--secondary-color);
    text-align: center;
  }

}