// 全域樣式
body {
  margin: 0;
  // background: var(--bg-color);
}

// 漫畫閱讀器
.manga-reader {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  
  .page-viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    touch-action: none; /* 手勢縮放用 */
  }

  .page-container {
    height: 100%;
    justify-content: center;
    align-items: center;

    img {
      max-height: 100%;
      width: 100%; // 讓圖片撐滿自己的 flex 區塊
      object-fit: contain;
    }
  }


  .left-page {
    object-position: right center;
    display: block;
  }

  .right-page {
    object-position: left center;
    display: block;
  }



  // 工具列
  .control-bar {
    position: absolute;
    // top: 90%;
    top:min(calc(100vh - 8rem), 90%);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    background: var(--accent-color);
    padding: 0.8rem 2rem;
    border-radius: 15rem;
    transition: 0.3s ease;

    &.hidden {
      transform: translate(-50%, 200%);
      opacity: 0;
    }

    button {
      background: none;
      border: none;
      font-size: $font-size-title3;
      cursor: pointer;
      transition: 0.08s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1.1);
      }

      i {
        color: white;
      }
    }
  }
 
  
  //工具列行動裝置設定
    @media (max-width: 768px) and (hover: none) {
    #fullscreenBtn {
      display: none;
      visibility: collapse;
      height: 0;
    }
  }


  //翻頁提示
  .page-hint {
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--bg-secondary-color-a80);
    backdrop-filter: blur(1rem);
    color: var(--primary-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    font-size: $font-size-paragraph;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: 0.3s ease;
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
    pointer-events: none;
    z-index: 1;

    &.show {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    p {
      margin: 0;
    }
    i {
      font-size: $font-size-title3;
      margin: 0.2rem;
    }
  }



  // 側邊章節列表
  #chapterMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 25rem;
    height: 100%;
    background: var(--bg-secondary-color-a80);
    backdrop-filter: blur(1rem);
    padding: 2rem 2rem 6rem;
    box-sizing: border-box;
    overflow-y: auto;
    transition: transform 0.3s;
    z-index: 2;
    scroll-padding-block: 1.5rem;

    &.hidden {
      transform: translateX(100%);
    }

    #chapterList {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background: var(--bg-color);
        border-radius: 1rem;
        border: 0.2rem solid rgba(0, 0, 0, 0);
        transition: transform 0.2s;
        cursor: pointer; // ← 新增，整個 li 都可變手形
        scroll-margin-block: 1rem; //捲動對齊時上下要留安全距離

        &:hover {
          border: 0.2rem solid var(--accent-color);
        }

        &.active {
          border: 0.2rem solid var(--primary-color);
        }

        &:first-of-type {
          background: none;
          border: none;
          cursor: unset;

          &.active {
          border: none;
         }
        }

        &:last-of-type {
          margin: 0;
          background: none;
          border: none;
          cursor: unset;

          &.active {
          border: none;
         }
        }

        &.kbd-active {
          box-shadow: 0 0 0 0.2rem var(--accent-color);
          border-radius: 1rem;
        }
        &.active.kbd-active {
          border: 0.2rem solid rgba(0, 0, 0, 0); // 選擇與當前章節衝突時關掉 active 的邊框
        }

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%; // 讓 a 撐滿 li

          img {
            width: 6rem;
            height: 6rem;
            object-fit: cover;
            border-radius: 0.5rem;
            margin: 0 0.8rem 0 0;
          }

          div {
            h4 {
              margin: 0;
              font-size: $font-size-paragraph;
            }

            p {
              margin: 0;
              font-size: $font-size-paragraph;
              color: var(--secondary-color);
            }
          }
        }
      }



      //章節列表 HEADER
      .chapter-header {
        justify-content: center;        

        .chapter-logo {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          
          #site-logo {
            height: 10rem;
            fill: var(--secondary-color);

            &:hover{
              fill: var(--accent-color);
            }
          }
          span {
            margin: -1rem 0 1rem;
            color: var(--secondary-color);
          }
        }
      }
      


      //章節列表 FOOTER
      .chapter-footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        
        #copyright {
            display: flex;
            flex-wrap: wrap; 
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 1rem;
            font-size: $font-size-footnote2;
            
            p {
                color: var(--secondary-color);
            }
        }
        .footer-social-link {
          display: grid;
          grid-template-columns: repeat(3, 3rem);
          align-items: center;
          justify-content: center;
          overflow: hidden;
          a {
              overflow: visible;
              display: block;

              &:hover {
                color: var(--accent-color);
              }
          }
          i {
              padding: 0.5rem;
              
          }
      }

        #back-top {
            font-size: $font-size-title2;
            margin: 3rem 0 3rem;
        }
      }
    }
  }
}


.progressive-img {
  opacity: 1;
  transition: filter 0.3s ease;

  &.loaded {
    opacity: 0;
  }
}