<header id="main-header">
    <nav id="nav-container">
        <a id="nav-logo" href="" class="nav-link">
            <img id="site-logo"
                 src="/assets/images/header/DanLo(xx4203)_logo_BlueLine.svg" 
                 alt="小大象-LittleElefan-logo.svg">
        </a>
        <ul id="nav-list">
            <li id="about"><a class="nav-link" href="/index.html">About</a></li>
            <li id="manga"><a class="nav-link" href="">漫畫</a></li>
            <li id="little-elefan"><a class="nav-link" href="">小大象</a></li>
            <li  id="NewYearCard"><a class="nav-link" href="/pages/NewYearCard.html">賀年卡</a></li>
            <div id="menu-icon">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </ul>
    </nav>
</header>