<!-- 表單 ref: https://www.letswrite.tw/custom-google-form/-->
<!-- 提交完表單頁面導向 -->
<iframe name="hidden_iframe" id="hidden_iframe" style="display: none;"></iframe>

<!-- F12搜尋 name 值、formResponse 連結 -->
<form id="myForm" target="hidden_iframe" onsubmit="formSubmitted()" action="https://script.google.com/macros/s/AKfycbwghhlBSOyUxUUw6UeH15DY1qsbXeC6f1uMglfpnNlS5D4g1ZPJU_b1T1TB9hpsFBRIEQ/exec" method="post">

    <h2 class="form-title">賀年卡表單</h2>
    <div class="divider-light"></div>
    <div class="form-fields">
        <!-- Q1:姓名 -->
        <div>
            <label id="name-label" for="name" class="Q-title required">該怎麼稱呼您！</label>
            <p class="Q-direction">只要是能夠收信的名字都可以</p>
            <input id="name" type="text" name="名字" value="" placeholder="收件名字" required>
        </div>
        <!-- Q2:索取或交換 -->
        <div>
            <legend class="Q-title required">賀年卡想要⋯</legend>
            <div class="radio-group">
            <input type="radio" name="索取or交換" value="索取" id="get" checked />
            <label for="get">索取！</label>
            <input type="radio" name="索取or交換" value="交換" id="change" />
            <label for="change">交換！</label>
            </div>
            <p class="Q-direction">選擇交換的話，會在信件附上回信地址，以平信回寄就可以ㄌ！</p>
        </div>
        <!-- Q3:instagram帳號 -->
        <div id="q3-instagram-wrapper">
            <label id="instagram-id-label" for="instagram-id" class="Q-title">交換卡片回報！</label>
            <p class="Q-direction">之後收到交換的卡片，如果願意讓我標記您的 Instagram 帳號，歡迎填寫！沒有的話留空也沒關係ㄉ！</p>
            <input id="instagram-id" type="text" name="instagram帳號" value="" placeholder="instagram 帳號（選填）">
            <div class="divider-light"></div>
        </div>
        <!-- Q4:郵遞區號 -->
        <div>
            <label id="postcode-label" for="postcode" class="Q-title required">郵遞區號 3+3</label>
            <p class="Q-direction">可以在<a href="https://www.post.gov.tw/post/internet/Postal/index.jsp?ID=208">郵局官網</a>查詢</p>
            <input id="postcode" type="text" name="郵遞區號" value="" placeholder="郵遞區號" required>
        </div>
        <!-- Q5:收信地址 -->
        <div>
            <label id="address-label" for="address" class="Q-title required">收信地址</label>
            <input id="address" type="text" name="地址" value="" placeholder="地址" required>
        </div>
        <!-- Q6:其他 -->
        <div>
            <label id="other-label" for="other" class="Q-title required">還有什麼想說的！</label>
            <p class="Q-direction">或是想推薦什麼書、漫畫、音樂、影視都非常歡迎！</p>
            <textarea id="other" name="其他" rows="4" required></textarea>
        </div>
    </div>

    <!-- 成功送出表單 -->
    <div class="success-message">
        <p>
            已收到表單，感謝來玩！<br>
            賀年卡大約會在一週至二週以平信寄出<br>
            如果有其他問題也可以用以下資訊聯絡！
        </p>
        
        <img src="/assets/images/new-year-card/2025/LitleElefan_MailShooter_OrangeLine.gif" alt="小大象_LittleElefan_信件處理機.gif">
        <div class="divider-blank"></div>
        <h2 class="paragraph bold">Contact Me</h2>
        <p>Email　xox4203@gmail.com</br>
            Instagram　<a href="https://www.instagram.com/x_x4203/">@x_x4203</a>
        </p>
        
        <button type="button" id="backButton" class="secondary-btn">返回表單</button>
    </div>

    <!-- 提交 -->
    <button id="submit" class="primary-btn" type="submit" name="button" value="submit">送出表單</button>

</form>