<form id="myForm">
    <h2 class="form-title">賀年卡表單</h2>
    <div class="divider-light"></div>
    <!-- 表單已關閉 -->
    <section class="close-message">
        <p>
            表單目前已關閉<br>
            如果有其他問題也可以用以下資訊聯絡！
        </p>
        <img src="/assets/images/new-year-card/2025/LitleElefan_MailShooter_OrangeLine.gif" alt="小大象_LittleElefan_信件處理機.gif">
        <div class="divider-blank"></div>
        <h2 class="paragraph bold">Contact Me</h2>
        <p>Email　xox4203@gmail.com</br>
            Instagram　<a href="https://www.instagram.com/x_x4203/">@x_x4203</a>
        </p>
    </section>
</form>