.footer {
    height: 20rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    
    #copyright {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        font-size: $font-size-footnote2;
        
        p {
            color: $secondary-color;
        }
    }
}

.footer-social-link {
    display: grid;
    grid-template-columns: repeat(2, 3rem);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    a {
        overflow: visible;
        display: block;
    }
    i {
        padding: 0.5rem;
        
    }
}

#back-top {
    font-size: $font-size-title2;
    margin: 3rem;
}




