#header {
  z-index: 1000;
}

#nav-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 20rem;
  width: min(calc(100% - 5rem), 60rem);
  padding: 0 2.5rem;
  margin: 0 auto;
  transition: 0.4s ease-in-out;
}

#nav-logo {
  height: 60%;
  margin: 0 auto;
  overflow: hidden;
  #site-logo   {
    height: 100%;
    fill: var(--accent-color);
  }
}


#nav-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 7rem);
  text-align: center;
  line-height: calc($font-size-paragraph + 1rem);
}

.nav-link:not(#nav-logo) {
  color: $primary-color;
  padding: 0 1rem;

  &:hover {
    color: var(--accent-color);
    font-weight: $font-weight-bold;
  }
  &:active {
    font-weight: $font-weight-bold;
  }
}


// =========================
// #mini-header 動態
// =========================
#mini-header {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s ease;
  opacity: 0;
  height: 0rem;
  width: 100%;
  background: $bg-color;
  transform: translateY(-6rem);
  visibility: collapse;

  #nav-container {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    justify-content: start;
    height: 6rem;
  }
  #nav-list {
    margin: 0.5rem 0 0;
    justify-content: end;
    margin-left: auto;
  }
  #nav-logo {
    height: 6rem;
    margin-right: auto;
  }

  &.hide {
    transform: translateY(-6rem);
    opacity: 0;
  }
  &.show {
    visibility: visible;
    // transition: 0.4s ease;
    transform: translateY(0);
    opacity: 1;
  }
}


// =========================
// 不同尺寸應用 - 寬度（nav-list 數量 和 menu-icon）
// =========================
@media (max-width:300px) {
  #nav-list {
    grid-template-columns: repeat(1, 7rem);
  }
  #new-year-card, 
  #little-elefan,
  #manga, 
  #about {
    visibility: collapse;
    height: 0;
    order: 4;
  }
}

// @media (max-width:350px) and (min-width: 300px) {
//   #nav-list {
//     grid-template-columns: repeat(2, 7rem);
//   }
//   #new-year-card, 
//   #little-elefan,
//   #manga {
//     visibility: collapse;
//     height: 0;
//     order: 4;
//   }
// }

// @media (max-width:420px) and (min-width: 350px) {
//   #nav-list {
//     grid-template-columns: repeat(3, 7rem);
//   }
//   #new-year-card, 
//   #little-elefan {
//     visibility: collapse;
//     height: 0;
//     order: 4;
//   }
// }

// @media (min-width: 420px) {
//   #nav-list {
//     grid-template-columns: repeat(4, 7rem);
//   }
//   #menu-icon {
//     visibility: collapse;
//     height: 0;
//     order: 4;
//   }
// }

@media (min-width: 300px) {
  #nav-list {
    grid-template-columns: repeat(2, 7rem);
  }
  #menu-icon,
  #little-elefan,
  #manga {
    visibility: collapse;
    height: 0;
    order: 4;
  }
}


// =========================
// 不同尺寸應用 - 高度（mini-header）
// =========================
@media (max-height: 400px) and (max-width:1920px) {
  #nav-container {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    justify-content: start;
    height: 6rem;
    width: min(calc(100% - 5rem), 60rem);
  }
  #nav-list {
    margin: 0.5rem 0 0;
    justify-content: end;
    margin-left: auto;
  }
  #nav-logo {
    height: 6rem;
    margin-right: auto;
  }
}